body {
	background: #202020;
}

.App {
	position: relative;
	background: grey;
	overflow: hidden;
}

img {
	max-height: 100%;
	max-width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none; /* NOTE: Settings this to none prevents from accidentially dragging the image when resizing or moving CropRect DOM element */
}
